.main{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 4rem;
    font-family: 'Montserrat', sans-serif;
}

.head{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .5rem;
    font-size:3rem;
    margin:2rem 0rem;
}
.items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 3rem;
    width: 80%;
    text-align: center;
    padding-bottom: 10rem;
    padding-top: 4rem;
    cursor: pointer;
    font-size: x-large;
}

.item{
    transition: all .3s ease-in-out;
    font-size: 2rem;
}

.text{
    font-size: 1.2rem;
}

.item:hover{
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}


.item:nth-child(1):hover{
    color:#589636;
}

.item:nth-child(2):hover{
    color:orchid;
}

.item:nth-child(3):hover{
    color:#61DBFB   ;
}
.item:nth-child(4):hover{
    color:rgb(255, 251, 0);
}

.item:nth-child(5):hover{
    color:#306998   ;
}
.item:nth-child(6):hover{
    color:rgb(255, 102, 0);
}

.item:nth-child(7):hover{
    color:#4FC3F7;
}
.item:nth-child(8):hover{
    color:#764abc;
}

.item:nth-child(9):hover{
    color:#CC3534   ;
}
.item:nth-child(10):hover{
    color:#563d7c;
}

.item:nth-child(11):hover{
    color:#ec8fc9;
}
.item:nth-child(12):hover{
    color:#4dca9a   ;
}

@media screen and (max-width:1000px){
    .items{
        display: grid;
        grid-template-columns: auto auto auto;
        row-gap: 4rem;
        font-size: large;
    }
    .head{
        font-size:2rem;
    }
}

@media screen and (max-width:500px){
    .head{
        font-size:1.7rem;
    }
    .item{
        font-size: 1.5rem;
    }
    .text{
    font-size: .8rem;
}
}

@media screen and (max-width:340px){
    .head{
        font-size:1.2rem;
    }
    .item{
        font-size: 1rem;
    }
    .text{
    font-size: .6rem;
}
    
}

@media screen and (max-width:220px){
    .head{
        font-size:.7rem;
    }
}

